<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MillasAMetros.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9EF8950B1E11BBEB00B895B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9EF8951F1E11BBED00B895B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9EF8952A1E11BBED00B895B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
