<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HelloWorld.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9E6E109C1E10C01100AC5FCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E6E10B01E10C01100AC5FCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E6E10BB1E10C01100AC5FCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
